body
{
    margin: 0;
    padding: 0;
    height: 100vh;
}

.flex {
    display: flex;
}

#bodyConnexion {
}


#bodyInscription article {
    max-width: 50vw;
}

#choixpeau {
    display: block;
    max-width: 50vw;
}